@import url('https://fonts.googleapis.com/css2?family=Anton&family=Luckiest+Guy&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
 
  width: 100%;
}

.container {
display: flex;
position: relative;


}
.WeatherVisual {
  display: grid;
  grid-template-rows: 100px 200px 50px 50px;
  background: rgb(0, 0, 0);
  color: white;
  align-items: center;
  justify-content: start;
  padding-left: 40px;
  width: 300px;
  height: 450px;
  border-radius: 10px;
}

.countryInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.country-name {
  display: flex;
  flex-direction: row-reverse;
}
.country {
   font-family: "Roboto", sans-serif;
   font-size: 25px;
   display: flex;
   margin: 0;
  display: flex;
  font-weight: bold;
  font-size: 25px;
  flex-direction: row-reverse;
  gap: 5px;
  justify-content: start;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.country-name i {
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.todaydate {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
.dateToday {
  margin: 0;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.img {
  width: 200px;
  width: 100%;
}
.temp-div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.temp-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.temp {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.description-div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.description-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.description {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
